/cpp/*.a
/cpp/*.o
/cpp/*.os
/cpp/*.so
/cpp/nameq_test
/nameq
/pkg/
/python/build/
/src/github.com/aarzilli/sandblast/
/src/github.com/aws/aws-sdk-go/
/src/github.com/go-ini/ini/
/src/github.com/jmespath/go-jmespath/
/src/github.com/miekg/dns/
/src/github.com/vaughan0/go-ini/
/src/golang.org/x/exp/
/src/golang.org/x/net/
/src/golang.org/x/text/
