/cpp/*.a
/cpp/*.o
/cpp/*.os
/cpp/*.so
/cpp/nameq_test
/nameq
/pkg/
/python/build/
/src/github.com/aws/aws-sdk-go/
/src/github.com/fsnotify/fsnotify/
/src/github.com/go-ini/ini/
/src/github.com/jmespath/go-jmespath/
/src/golang.org/x/sys/
/test/
