#!/usr/bin/make -f

%:
	dh $@ 

override_dh_install:
	dh_install
	install -m 755 nameq.py debian/nameq/usr/sbin/nameq
	install -m 644 debian/dnsmasq.d debian/nameq/etc/dnsmasq.d/nameq

override_dh_fixperms:
	dh_fixperms
	chown dnsmasq:root debian/nameq/var/lib/nameq debian/nameq/var/run/nameq
	chmod 755 debian/nameq/var/lib/nameq debian/nameq/var/run/nameq
